.container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.titte{
  font-weight: bold;
  font-size: 30px;
}

.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 30px;
}

.labelName{
  color:#454545;
  padding-right: 7px;
}

.btnPay{
  width: auto;
  padding: 7px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #3cbdaf;
  border-radius: 3px;
  color: #858585;
  font-weight: bold;
}

.btnPay:hover{
  cursor: pointer;
  background-color: #34a89b;
  border: 0;
  color: #000;
}